.map {
    height: 100%;

    &__title {
        font-size: 1.4rem;
        overflow: hidden;
    }

    &__localAuthority {

        @include transition_ease;
        fill: $pantone_300;
        stroke: #fff;
        cursor: pointer;
    
        &:hover {
            fill: lighten($pantone_300, 35%);
        }   
    }

    &__Scotland {
        fill: transparent;
    }
}
