.metrics {
    width: 100%;

    &__table {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: #777;
            color: #fff;
        }

        tr, th, td {
            text-align: start;
            padding: .25em;
        }

        tr:nth-child(even) {
            background-color: #e0e0e0;
        }       

        .col1 {
            width: 70%;
        }

        .col2 {
            width: 30%;
        }

    }
}