@include media-sm {

    .app__root {
        height: 100%;
        padding: 2em;
        gap: 5em;
        background-color: #f9f9f9;
        justify-content: flex-start;
    }

    .mainContent {
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25em;
        box-shadow: 0 4px 8px rgba(0,0,0,.15);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        max-height: 60%;;
        padding: 2em;
        gap: 2em;
        background-color: #fff;
    }

    .map {
        
        &__title {
            font-size: 1.6rem;
        }
    }

    .metrics {
        width: 22em;
        
    }
}

@include media-lg {

    .app__root {
        padding: 2em;
        gap: 3em;
    }

    .mainContent {
        max-height: 80%;
    }

    .map {

        &__title {
            font-size: 1.6rem;
        }
    }
}