@import "config";
@import "reset";

.app__root {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.mainContent {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

//@import "mapTitle";
@import "map";
@import "metrics";
@import "responsive";